
<div class="card">
	<nav class="navbar-light bg-light text-center">
		<h1>System of Registration Sales</h1>
	</nav>
	<p class="m-2">
		This is a web system for sales registration, where you can create,
		edit, and delete sellers, departments, and sales records. In this project,
		I used MVC (Model-View-Controller) architecture concepts along with the Entity
		Framework for interacting with the database. It is built on the .NET platform and utilizes the C# programming language.
	</p>
</div>