@model SalesWebMVC.Models.Department

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
	<h3>Department</h3>
	<hr />
	<dl class="text-center" style="font-size: 1.2rem;">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>

	<form asp-action="Delete">
		<div class="text-center">
			<input type="hidden" asp-for="Id" />
			<input type="submit" value="Delete" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-primary ml-2">Back to List</a>
		</div>
	</form>
</div>

<script>

	var alertDiv = document.createElement('h2');
	alertDiv.className = 'alert alert-danger text-center';

	alertDiv.textContent = "Are you sure you want to delete this?";

	document.body.appendChild(alertDiv);
</script>
