@model SalesWebMVC.Models.Department

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h3>Department</h3>
	<hr />
	<dl style="font-size: 1.2rem">
		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd >
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" >Edit</a>
	
		<a asp-action="Index" class="btn btn-primary ml-2">Back to List</a>
	
</div>
